{% load static %}
<body>
    <h2>Home Page</h2>
    
{% if user.is_authenticated %}
<p>Welcome {{ user.username }}</p>
 <button style="background-color: red; color: white; font-size: 20px;
          padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            <a href="/logout/" style="color: white; text-decoration: none;">Logout</a>
              </button>
            <button style='background-color:transparent;'> <a href="/About/" style="color: white;"> About<a/> </button>
    <button style='background-color:transparent;'> <a href="/contactus/" style="color: white;"> contact us<a/> </button>
 
    </div>   
{% else %}
   <div class='button'>
          <button style='background-color: transparent; color: white;'> <a href="/login/" style='color: white'>Login</a></button> 
           <button style='background-color: transparent;'><a href="/register/"  style='color: white'>Register</a></button>
           <button style='background-color:transparent;'>  <a href="/password-reset/" style='color: white;'>Reset Password</a></button>
    </div>   
{% endif %}
</body>
<style>
body{
      background-image: url("{% static 'image/pic1.jpg' %}");
        background-size: cover;
}
.button{
    background-color: transparent;
    color: green;
}
button-hover{
    background: blue;
}
p{
    font-size: 40px;
    color: white;
}
h2{
    text-allign: center;
}